[Unit]
Description=CM5 ADC Reader
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/cm5_python_prototype
Environment=PYTHONUNBUFFERED=1
ExecStart=/opt/cm5_python_prototype/.venv/bin/python /opt/cm5_python_prototype/adc_reader.py
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
